@import '../scss/colors';

.searchbar {
    display: flex;
    &__input {
        flex-grow: 3;
        border: none;
        &:focus {
            outline: none;
            &::placeholder {
                opacity: 0;    
            }
            
        }
    }
    &__submit {
        flex-grow: 1;
        background: $button;
        border: none;
        transition: background .3s;
        &:active {
            background: $button-active;
        }
        &:focus {
         //   outline: none;
        }
    }

}