@import '../scss/colors';

//$input-rounding: 3px 0px 0px 3px;
//$submit-rounding: 0px 3px 3px 0px;

.searchbar {
    display: flex;
    height: 35px;
    &__input {
        border: 1px solid transparent;
        //border-radius: $input-rounding;
        width: 100%;
        &::placeholder {
            padding: 1px;
        }
        &:focus {
            outline: none;            
        }
    }
    &__submit {
        flex-shrink: 0;
        border: 1px solid transparent;
        //border-radius: $submit-rounding;
        width: 45px;
        background: $button-color;
        transition: background .3s;
        &:active {
            background: $button-active-color;
        }
        &:focus {
            outline: none;
        }
        &--active {
            background: $button-active-color;
        }
    }

}